@using Web.Player
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/materialize/css/materialize.min.css" media="screen,projection" />
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body background="~/Content/background-3.jpg">
    <div class="navbar navbar-inverse navbar-fixed-top teal darken-4 hoverable">
        <div class="container lighten-2">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Start new Game", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="pubLink">@Html.ActionLink("Visit Pub", "Index", "Pub")</li>
                    <li class="right-aligned"><p class="money">Your budget: @($"{Player.Money:0.00}")&nbsp;&nbsp;&nbsp;You have @($"{Player.Beer}") beer</p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/materialize/js/materialize.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

</body>
</html>
